{% extends 'layouts/base.html' %}
{% load static %}
{% csrf_token %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'assets/css/plugins/uppy.min.css' %}">
{% endblock extrastyle %}

{% block content %}
<h2>Import File</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="button-group">
        <button type="submit" name="action" value="execute" class="btn btn-primary">Execute Import</button>
        <button type="submit" name="action" value="save" class="btn btn-secondary">Save Import Job</button>
    </div>
</form>
{% endblock %}